fieldset {
    position: relative;
    padding: 1em 2em;
    border: solid 1px #ccc;
    border-radius: 6px;
    min-width: 200px;
}

label {
    display: block;
    margin-top: 1em;
}

.checks label {
    margin-top: 0;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #999;
}

.inputtext {
    width: 70%;
}

.textbox {
    margin-top: 1em;
}

.checks {
    margin-bottom: 1em;
}

#puerto {
    margin: 0.5em 0.5em;
}

input[type=radio] + label {
    display: inline-block;
    padding-top: 0;
    margin-top: 0;
}

#puerto input[type=radio] {
    margin-left: 1.5em;
    margin-bottom: 1em;
}

h3 {
    margin: 0.5em 0.5em;
}

#enviar {
    background-color: #4c77af;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

#limpiar {
    position: absolute;
    background-color: #cc442c;
    color: white;
    padding: 6px 9px;
    margin-bottom: 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    bottom: 0; 
}

#main_form {
    border-radius: 5px;
    padding: 20px 0;
    width: 100%;
}

#main_form form {
    margin: auto;
    width: 50%;
    background-color: #f2f2f2;
}