tr td:last-child {
    width: 1%;
    white-space: nowrap;
}

h1 {
    text-align: center;
}

.viajes, .comentarios {
    padding: 30px;
}

.comentarios {
    margin: 50px auto;
}

th {
    color: white;
    background-color: rgba(0, 0, 0, 0.452);
}