table {
    border: 1px solid blueviolet;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid blueviolet;
}

/* TABLE CONTAINER */
.viajes {
    width: 100%;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-x: auto;
}

table {
    width: 100%;
    margin: 0 auto;
}

th {
    height: 2em;
    background-color: cornflowerblue;
    color: white;
}

tr:hover {
    background-color: yellow;
}