{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<title>Comentario del viaje</title>
{% endblock %}
{% block body %}
<div id="form">
    <form action="/transporte/comment/in/{{ id }}" method="post", id="main_form">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="textbox">
                <h4>{{ vuelo }}</h4>{{ form.comment.label }}
                {{ form.comment(rows="10", cols="50") }}
            </div>
        </fieldset>
        <div class="buttons">
            {{ form.enviar(class="btn btn-primary") }}
            <button type="button" class="btn btn-danger" id="limpiar" onclick="clearform()">Limpiar</button>
        </div>
    </form>
</div>
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}