{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<title>Template</title>
{% endblock %}

{% block body %}
<div id="headbar">
    
</div>
<div id="main_form">
    <form action="/" method="post" id="ingresos">
        {{ form.hidden_tag() }}
        <fieldset>
            <div class="checks" id="inout">
                {{ form.check.label }}
                {{ form.check }}
            </div>
            <div class="horafecha">
                {{ form.fecha.label }}
                {{ form.fecha }}
                {{ form.hora.label }}
                {{ form.hora }}
            </div>
            <div class="textbox">
                {{ form.vuelo.label(class="inputtext") }}
                {{ form.vuelo(class="inputtext") }}
                {{ form.habitacion.label(class="inputtext") }}
                {{ form.habitacion(class="inputtext") }}
                {{ form.huespedes.label(class="inputtext") }}
                {{ form.huespedes(class="inputtext") }}
                {{ form.valijas.label(class="inputtext") }}
                {{ form.valijas(class="inputtext") }}
            </div>
            <div class="checks" id="puerto">
                {{ form.puerto.label(class="puertos") }}
                {{ form.puerto(class="puertos") }}
            </div>
            <div class="buttons">
                {{ form.enviar }}
            </div>
        </fieldset>
    </form>
</div>

<!-- <script src="{{ url_for('static', filename='js/form.js') }}"></script> -->
{% endblock %}
